{% extends 'base.html.twig' %}

{% block title %}Index author{% endblock %}

{% block body %}

<style>
    h1 {
        padding: 2rem;
        text-align: center;
    }

    .table {
        text-align: center;
        width: 50%;
    }
    .form-add {
        display: flex;
        justify-content: center;
    }
</style>

<h1 class="container">Les auteurs</h1>

<table class="table table-hover container">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Âge</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr class="table-active">
            <th scope="row">{{ author.name }}</th>
            <th scope="row">{{ author.age }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <td class="table-action">
                <a href="{{ path('modify_author', {'id': author.id}) }}">Modifier</a>
                <a href="{{ path('delete_author', {'id': author.id}) }}">Supprimer</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_granted('ROLE_ADMIN') %}
<a class="form-add" href="{{ path('add_author') }}">Ajouter un nouvel auteur</a>
{% endif %}

{% endblock %}