{% extends 'base.html.twig' %}

{% block title %}Index author{% endblock %}

{% block body %}

<style>
    h1 {
        padding: 2rem;
        text-align: center;
    }

    .table {
        padding-left: 16rem;
        padding-right: 16rem;
    }
</style>

<h1 class="container">Les auteurs</h1>

<table class="table table-hover container">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Âge</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr class="table-active">
            <th scope="row">{{ author.name }}</th>
            <th scope="row">{{ author.age }}</th>
            <td class="table-action">
                <a href="{{ path('modify_author', {'id': author.id}) }}">Modifier</a>
                <a href="{{ path('delete_author', {'id': author.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <tr class="table-active">
            <th></th>
            <th></th>
            <th scope="row add-author">
                <a href="{{ path('add_author') }}">Ajouter un nouvel auteur</a>
            </th>
        </tr>
    </tbody>
</table>

{% endblock %}